@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    height: 800px;
}

.box-photo{
    background-color: #2d2d2d;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;

}

.profile-photo{
    width: 250px;
    border-radius: 50%;
    margin-right: 80px;
}

.box-name{
    background-color: #313131;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-top: 120px;

}

.sobrenome:after{
    content: ' |';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.nome{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 60px;
    color: gray;
    margin-bottom: 0;
    margin-left: 20px;
}

.sobrenome{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 100px;
    color: #FFA500;
    margin-top: -30px;
    margin-bottom: 10px;
    font-weight: bold;

}

.profissao{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    margin-left: 10px;
    color: gray;
}

.icone{
    width: 30px;
}

.rede{
    padding-top: 10px;
}


.social{
    display: flex;
    width: 150px;
    justify-content: space-between;
    
}

.infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 120px;
    cursor: pointer;
}

.infopessoais{
    border-top: 1px solid rgb(97, 97, 97);
    margin-right: 120px;
    margin-top: 180px;
}

.infopessoais{
    display: flex;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    color: gray;
    padding-left: 60px;
    padding-top: 20px;
}

.email{
    margin-left: 180px;
}

.titulo{
    background-color: #313131;
    width: 35%;
}

.texto{
    background-color: #2d2d2d;
    width: 65%;
}

.intro{
    display: flex;
    
}

.box-titulo{
    background-color: #363636;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: 'Didact Gothic', sans-serif;
    
}

h1{
    font-size: 40px;
    color: rgb(90, 90, 90);
    font-weight: 200;
    margin-right: 90px;
    
}

.box-text{
    background-color: #363636;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    align-items: center;
}

h2{
    font-size: 20px;
    color: rgb(90, 90, 90);
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 200;
    margin-right: 90px;
    font-family: 'Didact Gothic', sans-serif;
}

.skils{
    display: flex;
}

.skils-titulo{
    background-color: #313131;
}

.skils-text{
    background-color: #313131;
    width: 65%;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    align-items: center;
    padding-bottom: 70px;
}

.coluna1{
    width: 40%;
}
.coluna2{
    width: 60%;
}


/* Stylingthe last h2 tag by giving margin bottom */
.progress-bar-container:not(:last-child) {
    margin-bottom: 5px;
}


/* Styling the border and box
effect of the progress bar*/
.progress-bar {
    width: 300px;
    height: 5px;
    border: 1px solid #565656;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(245, 159, 0, 0.537);
}

/* Stylingthe background color of each
animation and border radius */
.percentage {
    display: block;
    height: 100%;
    background-color: orange;
    border-radius: 5px;
    animation: progress 1500ms ease-in 1;
}


.python {
    width: 95%;
}

.html {
    width: 100%;
}

.css {
    width: 85%;
}

.php {
    width: 70%;
}

.java {
    width: 70%;
}

.c {
    width: 50%;
}

.sql{
    width: 50%;
}

.javascript {
    width: 90%;
}

.type{
    width: 30%;
}

.react{
    width: 30%;
}

.node{
    width: 70%;
}

.swift{
    width: 50%;
}

.kotlin{
    width: 40%;
}
/* Animating the progress bar by
initially starting from 0*/
@keyframes progress {
    from {
        width: 0;
    }
}

.linguagem{
    font-size: 20px;
    color: rgb(90, 90, 90);
    font-weight: 200;
    padding-bottom: 0;
    font-family: 'Didact Gothic', sans-serif;
}


.bonus{
    display: flex;
    margin-bottom: 400px;
}

.box-text{
    display: flex;   
    flex-direction: row; 
    padding-right: 100px;
}

.part1{
    width: 50%;
}

.part2{
    width: 50%;
}

.subtitulo{
    display: flex;
    font-family: 'Didact Gothic', sans-serif;
    color: gray;
    font-size: 25px;
    font-weight: bold;
    margin-top: 60px;
}

.subtitulo:hover{
    color: orange;
}

.numeral{
    color: orange;
    font-weight: bold;
    margin-right: 20px;
}

.descricao-hab{
    font-family: 'Didact Gothic', sans-serif;
    color: gray;
    font-size: 18px;
    text-align: justify;
    margin-right: 30px;
    margin-top: 10px;
    
}

.ingles{
    margin-bottom: 80px;
}

.best{
    margin-bottom: 170px; 
}

.google{
    margin-bottom: 60px;
}

























